{%extends 'navbar.html'%}
{%load static%}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="site-mobile-menu">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->


<div style="height: 113px;"></div>

<div class="unit-5 overlay" style="background-image: url({% static 'images/hero_1.jpg' %});">
  <div class="container text-center">
  </div>
</div>


<div class="container ">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <h1>{% trans "Sign Up" %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <br>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    </div>
  </div>
  
  <div class="row ">
    
    <div class="col-md-12 d-flex justify-content-center">

<form class="form-group" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
</form>
    </div>
  </div>
</div>


{% endblock %}
